.idea/
*.iml
*.csv
*.swp
*.DS_Store
.project
.classpath
.settings/
node_modules/
/dist/
/build/
/.fusebox/
/.schema/
/libs/
/csvFiles/
tempHistory/
logs/
tempCsv/
tempUsersConf/
*.txt
*.osm
Bike3STests/**/hist/
Bike3STests/**/debug/
/Bike3STests/paperAT2018/dia_entero_150meters_without_velocity/
/Bike3STests/paperAT2018/dia_entero_500meters_with_velocity/
/Bike3STests/paperAT2018/dia_entero_500meters_without_velocity/
/Bike3STests/paperAT2018/dia_entero_150meters_with_velocity/24_10_2018_18:21:21/debug/
/Bike3STests/paperAT2018/dia_entero_150meters_with_velocity/24_10_2018_18:21:21/history/