.idea/
*.iml
*.csv
*.swp
*.DS_Store
.project
.classpath
.vscode/
.settings/
node_modules/
/dist/
/build/
/.fusebox/
/.schema/
/libs/
/csvFiles/
tempHistory/
logs/
tempCsv/
tempUsersConf/
*.txt
*.osm
/Bike3STests/conmuter/hist/
/Bike3STests/informed/hist/
/Bike3STests/uninformed/hist/
/Bike3STests/paperAT2018/inf/hist/
/Bike3STests/paperAT2018/uninf/hist/
/Bike3STests/paperAT2018/uninf/debug/
/Bike3STests/paperAT2018/inf/debug/
/Bike3STests/paperAT2018/obedient_Holger_recomender/hist/
/Bike3STests/paperAT2018/obedient_Holger_recomender_orig/hist/
/Bike3STests/paperAT2018/obedient_Holger_recomender/debug/
/Bike3STests/paperAT2018/obedient_Holger_recomender_test/hist/
/Bike3STests/paperAT2018/obedient_Holger_recomender_test/debug/