.idea/
*.iml
!*.csv
*.swp
*.DS_Store
.project
.classpath
.settings/
node_modules/
/dist/
/build/
/.fusebox/
/.schema/
.vscode/settings.json
/libs/
/csvFiles/
tempHistory/
logs/
/scripts/**/[0-9]*
tempCsv/
tempUsersConf/
*.txt
*.osm
**/history
**/debug
/nbproject/private/
