<div id="principal-container">
    <div id="image-container">
        <img id="logo" class="img-fluid" alt="Image logo that represents a person riding a bike" src="assets/logo.png">
    </div>
    <div id="buttons-container">
        <button type="button" class="menu-button btn btn-default" (click)="openWindow('open-configuration')">Create configuration</button>
        <button type="button" class="menu-button btn btn-default">Load configuration</button>
        <button type="button" class="menu-button btn btn-default" (click)="openWindow('open-simulate')">Simulate configuration</button>
        <button type="button" class="menu-button btn btn-default" (click)="openWindow('open-visualization')">View Simulation</button>
        <button type="button" class="menu-button btn btn-default">Analyse Simulation</button>
    </div>
</div>