label[_ngcontent-c5]{
    font-size: 18px;
    font-weight: bold;
}

button {
    font-size: 14px;
}

.window {
    height: 100vh;
}

.tab-content {
    height: 82vh;
}

.container-fluid {
    font-size: 14px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.conf {
    margin-top: 15px;
    margin-bottom: 15px;
}

.tab-content {
    margin: 15px;
    overflow-y: scroll;
}

.hidden-button {
    display: none;
}