<div class="window">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <div class="card conf">
                    <div class="card-body">
                        <div>
                            <button (click)="generateConfiguration()" class="btn btn-default">Generate Configuration</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <map-view (getMapController)="getMapController($event)" [markers]="constructor.activeLayers" [isVisualitation]="false" [drawOptions]="drawOptions"></map-view>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card conf">
                    <ngb-tabset>
                        <ngb-tab id="global-form" title="General Configuration">
                            <ng-template ngbTabContent>
                                <div class="tab-content">
                                    <div id="globalForm">
                                        <schema-form #globalSchemaForm [form]="globalForm" (dataSubmited)="globalFormSubmit($event)"></schema-form>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="added-entities" title="Entry Points">
                            <ng-template ngbTabContent>
                                <div class="tab-content">
                                    <json-tree-view #jsonTreeEp [data]="finalEntryPoints"></json-tree-view>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="added-stations" title="Stations">
                            <ng-template ngbTabContent>
                                <div class="tab-content">
                                    <json-tree-view [data]="finalStations"></json-tree-view>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template data-backdrop="static" data-keyboard="false" id="form-select-entry-point" #selecEntryPointType let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Select Entry Point and User Type</h4>
        <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <schema-form #globalSchemaForm [form]="selectEntryPointForm" (dataSubmited)="selectEntryPointSubmit($event)"></schema-form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
    <button class="hidden-button" id="form-select-entry-point-close" (click)="d('External close')"></button>
</ng-template>

<ng-template data-backdrop="static" data-keyboard="false" id="form-entry-point" #entryPoint let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Entry Point parameters</h4>
        <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <schema-form #globalSchemaForm [form]="entryPointForm" (dataSubmited)="entryPointSubmit($event)"></schema-form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
    <button class="hidden-button" id="form-entry-point-close" (click)="d('External close')"></button>
</ng-template>

<ng-template data-backdrop="static" data-keyboard="false" id="form-station" #stationModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Create Station</h4>
        <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <schema-form #globalSchemaForm [form]="stationForm" (dataSubmited)="stationSubmit($event)"></schema-form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
    <button class="hidden-button" id="form-station-close" (click)="d('External close')"></button>
</ng-template>

<button class="hidden-button" id="form-select-entry-point-button" (click)="openFormEntryPoint(selecEntryPointType)">Open modal</button>
<button class="hidden-button" id="form-entry-point-button" (click)="openFormEntryPoint(entryPoint)">Open modal</button>
<button class="hidden-button" id="form-station-button" (click)="openStationForm(stationModal)">Open modal</button>