.browse-button {
    margin-top: 30px;
}

.hidden-button {
    display: none;
}

.row {
    padding: 15px;
}

.submit-button {
    margin-left: 14px;
}

textarea {
    resize: none;
    background-color: #292929;
    color: white;
    font-size: 12px;
}

ngb-tabset {
    font-size: 14px;
}

body {
    overflow-x: hidden;
}