.station-marker .ratio-ring, .station-marker .bike-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.ratio-ring {
    width: 30px;
    height: 30px;
    border: 1px solid #444;
}

.bike-counter {
    width: 20px;
    height: 20px;
    font-size: 10px;
    background: #333;
    color: white;
}