<ngb-tabset>
    <ngb-tab title="Generate Users">
        <ng-template ngbTabContent>
            <form>
                <div class="row">
                    <div class="col-sm-10">
                        <label for="globalConfigurationInput">Global Configuration Path</label>
                        <input type="text" [(ngModel)]="globalConfiguration" name="global_conf_1" class="form-control" id="globalConfigurationInput" placeholder="Global Configuration Path">
                    </div>
                    <div class="col-sm-2">
                        <button class="browse-button btn btn-default" (click)="globalConfiguration = selectFile()">Select File</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <label for="entryPointsConfigurationInput">Entry Point Configuration Path</label>
                        <input type="text" [(ngModel)]="entryPointConfiguration" name="entry_points" class="form-control" id="entryPointsConfigurationInput" placeholder="Entry Point Configuration Path">
                    </div>
                    <div class="col-sm-2">
                        <button class="browse-button btn btn-default" (click)="entryPointConfiguration = selectFile()">Select File</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <label for="usersOutput">Generated users output Path</label>
                        <input [(ngModel)]="usersOutputFolder" name="users_output" type="text" class="form-control" id="usersOutput" placeholder="Generated users output Path">
                    </div>
                    <div class="col-sm-2">
                        <button class="browse-button btn btn-default" (click)="usersOutputFolder = selectFolder(s)">Select Folder</button>
                    </div>
                </div>
                <button class="btn btn-default" (click)="generateUsers()">Submit</button>
            </form>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Simulate">
        <ng-template ngbTabContent>
            Simulate
        </ng-template>
    </ngb-tab>
</ngb-tabset>